<phpunit bootstrap="tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
  <testsuites>
    <testsuite name="Cloudpbx">
      <directory>./tests/Cloudpbx</directory>
    </testsuite>

    <testsuite name="integration">
      <directory>./tests/integration</directory>
    </testsuite>
  </testsuites>
</phpunit>
